@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
/* font-family: 'Bitter', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --color-fondo: black;
    --color-header: rgb(26, 26, 26);
    --unit-gap: 0.3rem;
}

body{
    background-color: var(--color-fondo);
    color: white;
}

header{
    background-color: var(--color-header);
}

header nav{
    color: white;
    background-color: var(--color-header);
    margin: auto;
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);    
}

header nav h1{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

header nav ul{
    margin-left: 22%; /*450px*/
}

header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 50px;
    font-size: 18px;
    font-family: 'Bitter', serif;
    font-weight: bolder;
}

main{
    display: flex;
}

.presentation{
    border: solid 1px red;
    width: 65%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.presentation img{
    margin-top: 10%;
    align-items: end;
    width: 50%;
}