@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Estonia&display=swap');
/* font-family: 'Bitter', serif; */
/* font-family: 'Estonia', cursive; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --color-fondo: black;
    --color-header: rgb(26, 26, 26);
    --unit-gap: 0.3rem;
}

body{
    background-color: var(--color-fondo);
    color: white;
}

header{
    background-color: var(--color-header);
}

header nav{
    color: white;
    background-color: var(--color-header);
    margin: auto;
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);    
}

header nav h1{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

header nav ul{
    margin-left: 22%; /*450px*/
}

header nav ul li{
    color: white;
    display: inline-block;
    list-style: none;
    margin: 0px 50px;
    font-size: 18px;
    font-family: 'Bitter', serif;
    font-weight: bolder;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

main{
    border: 2px solid tomato;
}

section{

}

#presentation{
    font-family: 'Estonia', cursive;
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#presentation img{
    margin-top: 5%;
    align-items: end;
    width: 200px;
    margin-right: 20rem;
}

#presentation div{
    width: 80%;
    margin-left: 20rem;
}

#presentation h1{
    font-size: 75px;
}

#presentation h1 span{
    font-size: 100px;
}

#presentation h2{
    font-size: 55px;
    margin-top: -80px;
    color: gray;
}